@page
@model Zealand_Zoo_1FProjekt1semester2024.Pages.Events.CreateEventModel
@{
    ViewData["Title"] = "CreateEvent";
}

<h1>CreateEvent</h1>

<form method="post">

    @if (Model.ErrorMsg.Length>0        )
    {
        <div class="form-group">
            <label  class="control-label"> Fejlbesked </label>
        <input asp-for="@Model.ErrorMsg" class="form-control" />
    </div>
    }
    <div class="form-group">
        <label asp-for="@Model.Event.Id" class="control-label"> Id </label>
        <input asp-for="@Model.Event.Id" class="form-control" />
        <span asp-validation-for="@Model.Event.Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Event.Name" class="control-label">Name </label>
        <input asp-for="@Model.Event.Name" class="form-control" />
        <span asp-validation-for="@Model.Event.Name" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="@Model.Event.Description" class="control-label">Description</label>
        <input asp-for="@Model.Event.Description" class="form-control" />
        <span asp-validation-for="@Model.Event.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Event.Limit" class="control-label">Limit</label>
        <input asp-for="@Model.Event.Limit" class="form-control" />
        <span asp-validation-for="@Model.Event.Limit" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Event.OpeningTime" class="control-label"> Opening Time </label>
        <input asp-for="@Model.Event.OpeningTime" class="form-control" />
        <span asp-validation-for="@Model.Event.OpeningTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Event.ClosingTime" class="control-label">Closing Time</label>
        <input asp-for="@Model.Event.ClosingTime" class="form-control" />
        <span asp-validation-for="@Model.Event.ClosingTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Event.ImageName" class="control-label">Image Name</label>
        <input asp-for="@Model.Event.ImageName" class="form-control" />
        <span asp-validation-for="@Model.Event.ImageName" class="text-danger"></span>
    </div>
    

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
