@page
@model Zealand_Zoo_1FProjekt1semester2024.Pages.Events.ReadAllEventModelStudents
@{
    ViewData["Title"] = "ReadAllEvent";
}

<h2>Kommende Events</h2>



<form class="mb-3 mb-lg-0 me-lg-3" role="search">
    <div class="input-group" style="max-width: 300px; margin: left;">
        <input type="search" class="form-control form-control-dark text-bg-dark" asp-for="FilterCriteria" placeholder="Search..." aria-label="Search">
        <button type="submit" class="btn btn-primary" >Search</button>
    </div>
</form>


<div class="card-columns">
    @* @foreach (var product in Model.Students)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
            </div>
        </div>
    } *@
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Navn
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Antalsbegrænsning
            </th>
            <th>
                Åbningstid
            </th>
            <th>
                Lukketid
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    @item.Value.Id
                </td>
                <td>
                    @item.Value.Name
                </td>
                <td>
                    @item.Value.Description
                </td>
                <td>
                    @item.Value.Limit

                </td>
                <td>
                    @item.Value.OpeningTime
                </td>
                <td>
                    @item.Value.ClosingTime
                </td>
                <td>
                    <img src="~/Images/@item.Value.ImageName" width="220" height="140">
                </td>
                <td>
                    <p>
                        <a id="btn-@item.Key" href="#" onclick="changeButtonText(@item.Key); ">Tilmelding</a>
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>


   {
<script type="text/javascript">
    function changeButtonText(id) {
        var button = document.getElementById('btn-' + id);
        button.innerText = 'Tilmeldt';
        alert('Du er nu tilmeldt dette event!');
        button.style.pointerEvents = 'none'; // Disable click event
        button.style.color = 'gray'; // Change color to indicate disabled state
        button.style.textDecoration = 'none'; // Remove underline
    }
</script>
