@page
@model Zealand_Zoo_1FProjekt1semester2024.Pages.Events.ReadAllEventModelStudents
@{
    ViewData["Title"] = "ReadAllEvent";
}

<h1>ShowAllEvents</h1>



<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Limit
            </th>
            <th>
                OpeningTime
            </th>
            <th>
                ClosingTime
            </th>
            <th>
                ImageName
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    @item.Value.Id
                </td>
                <td>
                    @item.Value.Name
                </td>
                <td>
                    @item.Value.Description
                </td>
                <td>
                    @item.Value.Limit
                  
                </td>
                <td>
                    @item.Value.OpeningTime
                </td>
                <td>
                    @item.Value.ClosingTime
                </td>
                <td>
                    @item.Value.ImageName
                </td>
                <td>
                    <img src="~/Images/@item.Value.ImageName" width="60" height="70">
                </td>

                <td>
                    <p>
                        <a id="btn-@item.Key" href="#" onclick="changeButtonText(@item.Key); return false;">Tilmelding</a>
                    </p>
                </td>
            </tr>
        }
    </tbody>

</table>

        {
    <script type="text/javascript">
        function changeButtonText(id) {
        var button = document.getElementById('btn-' + id);
        button.innerText = 'Tilmeldt';
        alert('Du er nu tilmeldt dette event!');
        button.style.pointerEvents = 'none'; // Disable click event
        button.style.color = 'gray'; // Change color to indicate disabled state
        button.style.textDecoration = 'none'; // Remove underline
            
        }
    </script>
